# Define environment variables for local use in an .env file.
# This is an example/template file for your local .env file. You can copy this file to .env and edit the variables.
# Lines starting with # are ignored comments.
audioscrobbler_apikey=your-lastfm-api-key
audioscrobbler_user=rockland
audioscrobbler_trackslimit=50
# audioscrobbler_cors_allow_hostnames=
# proxy_use=
# webpage_show=
